<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
	<!-- 데이터타입 별칭 -->
	<typeAliases>
	<typeAlias alias="board" type="com.yedam.vo.BoardVO"/>
	<typeAlias alias="search" type="com.yedam.common.SearchDTO"/>
	<typeAlias alias="member" type="com.yedam.vo.MemberVO"/>
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver"
					value="oracle.jdbc.driver.OracleDriver" />
				<property name="url"
					value="jdbc:oracle:thin:@192.168.0.50:1521:xe" />
				<property name="username" value="dev" />
				<property name="password" value="dev" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/yedam/mapper/BoardMapper.xml" />
		<mapper resource="com/yedam/mapper/MemberMapper.xml" />
		<mapper resource="com/yedam/mapper/ReplyMapper.xml" />
	</mappers>

</configuration>